# Database connectivity
#for mac
psycopg2-binary==2.9.9

#for windows
# psycopg2-binary==2.9.11
# Environment variable management
python-dotenv==1.0.0
 
# Development/Testing (optional - uncomment if needed)
# pytest==7.4.3
# pytest-cov==4.1.0

# dbt
dbt-core==1.11.2
dbt-postgres==1.10.0

# FastAPI and dependencies
# fastapi==0.109.0
# uvicorn[standard]==0.27.0
# python-jose[cryptography]==3.3.0
# passlib[bcrypt]==1.7.4
# sqlalchemy==2.0.25
# pydantic>=2.12.5,<3.0.0
# pydantic-settings==2.1.0
# python-multipart==0.0.6
# email-validator==2.1.0
