# Database connectivity
#for mac
psycopg2-binary==2.9.9

#for windows
# psycopg2-binary==2.9.11
# Environment variable management
python-dotenv==1.0.0
 
# Development/Testing (optional - uncomment if needed)
# pytest==7.4.3
# pytest-cov==4.1.0

# dbt
